<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
       h1 {
           text-align: center;
           color:black;
           font-size: 50px;
           font-weight: bold;
        
          
       }
       body {
           text-align: center;
           color:grey;
           margin:auto;
           background-color: ;
       }
       form {
           padding-top: 50px;
       }
     

       a {
           text-decoration: none;  
       }
   </style>
</head>
<body>
    <h1>Weather app</h1>
    <p>Use this website to get current weather</p>
    <hr>
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>



<script src="/app.js"></script>
</body>
</html>